.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.chat-sidebar {
  flex: 1;
  border-right: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 97%;
}

/* Media query for mobile resolutions */
@media (max-width: 600px) {
  .chat-container {
    flex-direction: column;
  }

  .chat-sidebar {
    margin-top: 3.7rem;
    width: 100%;
  }

  .chat-content {
    width: 100%;
  }
}
