.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.chat-sidebar {
  flex: 1;
  border-right: 1px solid #ddd;
  width: 30%;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* Media query for mobile resolutions */
@media (max-width: 600px) {
  .chat-container {
    flex-direction: column;
    margin-top: 3.7rem;
  }

  .chat-sidebar {
    width: 100%;
  }

  .chat-content {
    display: none;
  }
}
