.chat-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.chat-conversation {
  flex: 1;
  overflow: hidden;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}
.chat-top-section {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.1rem;
  box-shadow: 0 2px 4px rgba(178, 179, 179, 0.1);
  padding: 0.5rem;
}
.chat-top-left {
  display: flex;
  align-items: center;
  width: 95%;
}

.chat-avatar {
  width: 2.5rem; /* 40px to rem */
  height: 2.5rem; /* 40px to rem */
  margin-right: 0.5rem;
}

.chat-user-info {
  display: flex;
  flex-direction: column;
}
.chat-status {
  color: #888;
}

.chat-top-right {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
.chat-history::-webkit-scrollbar {
  width: 0.25rem; /* 4px to rem */
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.25rem; /* 4px to rem */
}

.chat-history::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.send-message-container {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
}

.send-message-input {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.send-message-button {
  margin-left: 0.5rem;
}
