.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.menubar {
  min-width: 15rem;
}

.content {
  width: 100%;
  padding: 0.2rem;
  overflow: auto;
  height: 100%;
}

/* Media query for mobile resolutions */
@media (max-width: 600px) {
  .app {
    flex-direction: column;
  }

  .menubar {
    width: 100%;
    min-width: 100%;
  }

  .content {
    width: 100%;
    min-width: 100%;
  }
}
