.app {
  display: flex;
  height: 100vh;
}

.menubar {
  width: 25%;
  min-width: 15rem;
}

.content {
  width: 75%;
  padding: 1rem;
  overflow: auto;
}

/* Media query for mobile resolutions */
@media (max-width: 600px) {
  .app {
    flex-direction: column;
  }

  .menubar {
    width: 100%;
    min-width: 100%;
  }

  .content {
    width: 100%;
  }
}
